<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>It's not Trivia Crack!</title>
</head>

<body>
  {%extends "navtemplate.html" %}
  {% block content %}
  <div class=" p-1 bg-dark text-white">
    <h1 class="h1 text-center">Welcome, {{ username }}</h1>
  </div>



  <div class="container-fluid text-center" style="margin-top: 2rem">
    <div class="row g-2">
      <div class="col-sm-4" style="border-radius: 1rem;">
        <h2 class="text-center" style="padding: 5px; color: rebeccapurple">Quizzes</h2>
        <div class="col-md-12 card bg-dark text-white">
          <br>
          {% for quiz in quizzes %}
            <ul class="list-inline m-0">
              <li class="list-inline-item">
                <a href="/quiz/{{quiz.quiz_id}}" class="h3" style="text-decoration: none">{{quiz.quiz_name}}</a>
              </li>
              <li class="list-inline-item">
                  <button class="btn btn-danger btn-sm rounded-3" id="delete{{quiz.quiz_id}}" type="button" data-toggle="tooltip" data-placement="top" title="Delete"><i class="fa-solid fa-trash-can"></i></i></button>
              </li>
          </ul>
            <br>
          {% endfor %}
        </div>
        <br>
        <button class="btn btn-outline-dark btn-lg px-5" type="submit">Create Quiz</button>
      </div>
      <div class="col-sm-4" style="border-radius: 1rem;">
        <h2 class="text-center" style="padding: 5px; color:rebeccapurple;">Highscores</h2>
        <div class="col-md-12 card bg-dark text-white">
        </div>
      </div>
      <div class="col-sm-4" style="border-radius: 1rem;">
        <h2 class="text-center" style="padding: 5px; color: rebeccapurple">Something??</h2>
        <div class="col-md-12 card bg-dark text-white">
          <div class="well">
            <p>Some text..</p>
          </div>
          <div class="well">
            <p>Some text..</p>
          </div>
        </div>
      </div>
    </div>
  </div><br>
  {% endblock %}
</body>

</html>